html {
    font-size: 10px;
}

body {
    font-family: $regular;
    background: $clr-white;
    font-size: get-vw(16px);
    line-height: 1.3;
    overflow-x: hidden !important;
    width: 100%;
    color: $clr-base;
}

img {
    width: 100%;
}

a {
    &:hover {
        text-decoration: none;
        color: $clr-primary;
    }
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.notInPage {
    left: -99999px;
    position: absolute;
    top: -99999px;
}
.lineBreak {
    display: block;
}


.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 20;
    }
}

.card{
    position: relative;
    border-radius: 0.4rem;
    box-shadow: 0 0 1.4rem 0 rgba(106, 71, 66, 0.24);
    border: solid 0.1rem #cdcece;
    background-color: $clr-white;
    padding: 2.4rem;
    min-height: 40rem;
}
.note{
    display: block;
    padding: 1.6rem 2.3rem;
    background:#f0ecec;
    color: $clr-light;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-family: $light;
    margin: -2.4rem -2.4rem 2.4rem;
    border-radius: 0.4rem 0.4rem 0 0;
    &__text{
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #6c7174;
        margin-right: 0.8rem;
        font-family: $pfencoresansprobook;
    }
    &__num{
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-black;
    }
}
.info{
    .icon{
        margin-right: 1rem;
        display: inline-block;
        vertical-align: middle;
    }
    &__text{
        display: inline-block;
        vertical-align: middle;
    }
}

.tag{
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0.1rem 1.1rem;
    border-radius: 4rem;
    background: $clr-white;
    &--active{
        color: #1f874c;
    }
    &--inactive{
        color: #bd2b2b;
    }
}
.header{
    width: 100%;
    background-color: #c7222a;
    padding: 5.4rem;
    img{
        width: 200px;
    }
}
.footer{
    width: 100%;
    background-color: #6C7174;
    height: 180px;
}
.desktop{
    display: block !important;
}
.mobile{
    display: none !important;
}

.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.getBgSrc{
    display: none !important;
}

@media (min-width: 992px) {
    html {
        font-size: 10px;
    }
    .container {
        width: 970px;
    }           
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1600px) {
    .container {
        width: 1400px;
    }
}


.contentWrapper{
    margin-left: 96px;
}


@media only screen and (max-width:$media-lg) {
    .container{
        width: 100%;
    }
    .header{
        padding: 12px 20px;
        img{
            width: 100px;
        }
    }
    .card{
        box-shadow: none;
        border: none;
        padding: 0;
        border-radius: 0;
        min-height: auto;
    }
    .note{
        margin: 0 -2.4rem 2.4rem;
    }
    .desktop{
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
    .contentWrapper{
        margin-left: 0;
        padding: 0 1.6rem;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 8px;
    }
}