.section{
    display: block;
    margin-bottom: 80px;
    &__head{
        margin-bottom: 30px;
    }
    &__title{
        font-size: 4.4rem;
        line-height: 4.4rem;
        color: $clr-black;
    }
    &__subtitle{
        font-family: $thin;
        font-size: 3.2rem;
        line-height: 3.2rem;
        color: $clr-black;
    }

}

@media only screen and (max-width:$media-lg) {
    .section{
        margin-bottom: 40px;
        &__head{
            margin-bottom: 2.4rem;
        }
        &__title{
            font-size: 2.8rem;
            line-height: 2.6rem;
            margin-bottom: 0.6rem;
        }
        &__subtitle{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
}