//sideNav
.sideNavOuter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    &--fixed{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 14rem;
        transition: none;
        z-index: 10;
    }
}
.sideNav{
    $self: &;
    position: absolute;
    // top: 16.1rem;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6.4rem;
    z-index: 10;
    background: $clr-white;
    box-shadow: 3px 0 10px 0 rgba(106, 71, 66, 0.16);
    transition: all 0.5s ease-in;
    &__openClose{
        display: block;
        height: 5.6rem;
        padding: 1rem 1.2rem;
        min-width: 100%;
        position: relative;
        background-color: #da9089;
        border-color: #da9089;
        &:hover,&:focus{
            background:  #da9089;
            border: 0.1rem solid  #da9089;
        }
        .icon{
            vertical-align: middle;
        }
    }
    &__open,
    &__close{
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $clr-white;
        font-family: $regular;
        transition: all 0.3s ease-in;
        position: absolute;
        top: 50%;
        right: 1.6rem;
        left: 1.6rem;
    }
    &__close{
        transform: scale(1) translateY(-50%);
    }
    &__open{
        transform: scale(0) translateY(-50%);
        vertical-align: middle;
        overflow: hidden;
        top: 50%;
        .sideNav__text{
            float: left;
        }
        .icon{
            float: right;
        }
    }
    &__navList{
        transition: all 0.5s ease-in;
    }
    &__link{
        position: relative;
        display: inline-block;
        height: 4.8rem;
        padding: 0.8rem 1.6rem;
        vertical-align: middle;
        width: 100%;
        transition: all 0.3s ease-in;
        border: solid 1px transparent;
        .icon{
            width: 3.2rem;
            height: 3.2rem;
            background: #f1f3f6;
            margin-right: 2rem;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            font-size: 1.7rem;
            line-height: 3.3rem;
            vertical-align: middle;
            transition: all 0.3s ease-in;
        }
        .sideNav__text{
            position: absolute;
            font-size: 1.8rem;
            line-height: 2rem;
           // transition: all 0.3s ease-in;
            transform: scale(0) translateY(-50%);
            transform-origin: 0 0;
            top: 50%;
        }
        &:hover{
            background: #f1f3f6;
            .icon{
                background: $clr-secondary;
                color: $clr-white;
            }
        }
    }
    &.sideNav--hvr:hover,&.sideNav--active{
        width: 26rem;
        #{ $self }__close{
            transform: scale(0) translateY(-50%);
            transition: all 0.3s ease-in;
        }
        #{ $self }__open{
            transform: scale(1) translateY(-50%);
            transition: all 0.6s ease-in 0.1s;
        }
        #{ $self }__link{
            .sideNav__text{
                transform: scale(1) translateY(-50%);
                transition: all 0.3s ease-in 0.1s;
            }
        }
        .sideNav__link{
            border: solid 1px #f1f3f6;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .sideNavOuter{
        position: relative;
        &--fixed{
            position: relative;
            left: auto;
        }
    }
    .sideNav{
        display: none;
        position: absolute;
        top: 5.5rem;
        right: 1.6rem;
        left: 1.6rem;
        bottom: auto;
        box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
        border: solid 1px #cdcece;
        &__openClose{
            display: none;
        }
        &__link{
            .icon{
                display: none;
            }
            .sideNav__text{
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $clr-black;
            }
        }
        &:hover,&.active{
            width: auto;
        }
        &.sideNav--open{
            display: block;
            width: auto;
        }
    }
}