//planCard
.planCard{
    margin: 0 auto;
    width: 94%;
    overflow: hidden;
    border-radius: 0.4rem 0.4rem 0 0;
    box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
    &__head{
        position: relative;
        background: #b37671;
        padding: 1.2rem;
        color: $clr-white;
        .lblText__lbl{
            display: inline-block; 
            color: $clr-white;   
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-right: 1.6rem;
            min-width: 6.4rem; 
        }
        .lblText__text{
            display: inline-block; 
            color: $clr-white;   
            font-size: 2rem;
            line-height: 2.2rem; 
        }
        .tag{
            position: absolute;
            right: 5rem;
            top: 2rem;
        }
    }
    &__list{
        display: block;
    }
    &__item{
        margin-bottom: 0.6rem;
    }
    &__dote-menu{
        position: absolute;
        right: 0.9rem;
        top: 1.7rem;
        .icon{
            padding: 0.6rem;
            cursor: pointer;
        }
        &.active{
            .planCard__menu{
                transform: scale(1);
            }
        }
    }
    &__menu{
        position: absolute;
        width: 23.6rem;
        right: 2.1rem;
        top: -0.5rem;
        z-index: 2;
        border-radius: 0.4rem;
        padding: 1.4rem 0;
        transform: scale(0);
        transform-origin: 100% 0;
        transition: all 0.5s ease-in;
        box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
        background: $clr-white;
        .planCard__item{
            margin-bottom: 0;
            .planCard__link{
                font-size: 2rem;
                line-height: 2.2rem;
                color: $clr-black;
                padding: 1rem 2rem;
                display: block;
                &:hover{
                    color: $clr-base;
                }
            }
        }
    }
    &__cont{
        position: relative;
        padding: 2rem;
        .planCard__list{
            display: block;
            overflow: hidden;
            .planCard__item{
                width: 33.33%;
                float: left;
                min-height: 5rem;
                margin-bottom: 2rem;
                &:first-child{
                    width: 100%;
                }
            }
        }
    }
    &--goal{
        .planCard__goal{
            position: absolute;
            top: -1.1rem;
            right: 2rem;
            left: 2rem;
            padding: 0.3rem 2rem;
            line-height: 1rem;
            border-radius: 4rem;
            background: $clr-white;
            box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
            .planCard__lbl{
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $clr-black;
                width: 20%;
                display: inline-block;
                vertical-align: middle;
            }
            .planCard__status-bar{
                position: relative;
                width: 70%;
                display: inline-block;
                vertical-align: middle;
                .planCard__total{
                    width: 100%;
                    height: 0.4rem;
                    border-radius: 0.4rem;
                    display: block;
                    background: #cdcece;
                }
                .planCard__achive{
                    width: 40%;
                    height: 0.4rem;
                    border-radius: 0.4rem;
                    display: block;
                    background: #1f874c;
                    position: absolute;
                    top: 0;
                }
            }
            .planCard__status{
                width: 10%;
                display: inline-block;
                vertical-align: middle;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: right;
                color: $clr-black;
            }
        }
        .planCard__head{
            padding: 2rem 2rem 2.2rem 2rem;
        }
        .planCard__cont{
            padding: 3rem 2rem 2rem  2rem;
        }
    }
    &__upgrade{
        position: relative;
        padding: 2rem 21rem 2rem 2rem;
        background: url(/assets/images/upgrade.png) no-repeat 0 0 transparent;
        background-size: cover;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32) 7%, rgba(0, 0, 0, 0.28) 44%, rgba(0, 0, 0, 0));
            z-index: 0;
        }
        .planCard__para{
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $clr-white;
            position: relative;
            z-index: 2;
        }
        .planCard__btn{
            color: $clr-white;
            position: absolute;
            right: 0.8rem;
            bottom: 0.8rem;
            font-size: 1.8rem;
            line-height: 2rem;
            text-decoration: underline;
            z-index: 3;
            &:hover{
                color: $clr-light-grey;
                background: transparent;
            }
        }
    }
    &__title{
        display: inline-block;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-bottom: 1rem;
        color: $clr-white;
        position: relative;
        z-index: 2;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        .icon{
            color: #f7a500;
            margin-right: 1rem;
            font-size: 1.6rem;
        }
    }
}


@media only screen and (max-width:$media-lg) {
    .planCard{
        width: 95%;
        &--goal{
            .planCard__head{
                padding: 1.2rem 1.2rem 2.2rem 1.2rem;
            }
        }
        &--goal{
            .planCard__goal{
                right: 1rem;
                left: 1rem;
                .planCard__lbl{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    width: 28%;
                }
                .planCard__status-bar{
                    width: 62%;
                }
                .planCard__status{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
        &__head{
            .lblText__lbl{
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin-right: 0.5rem;
            }
            .lblText__text{
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
            .tag{
                right: 3.8rem;
                top: 1rem;
            }
        }
        &__dote-menu{
            right: 0.3rem;
            top: 1.1rem;
            .icon{
                font-size: 2rem;
            }
        }
        &__cont{
            .planCard__list{
                .planCard__item{
                    width: 50%;
                    min-height: 4.1rem;
                    margin-bottom: 1.4rem;
                }
            }
        }
        &__actBtn{
            .btn{
                min-width: auto;
                margin-right: 1.4rem;
                padding: 0.8rem 1.2rem;
            }
        }
        &__upgrade{
            padding: 1rem 1.6rem 1rem 1.6rem;
            .planCard__title{
                font-size: 2.2rem;
                line-height: 2.6rem;
                margin-bottom: 1.2rem;
            }
            .planCard__btn{
                position: relative;
                padding-left: 0;
                right: auto;
                margin-top: 1rem;
            }
        }
    }
}