//btn

.btn{
    background: $clr-base;
    border: 0.1rem solid $clr-base;
    color: $clr-white;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 1.2rem;
    min-width: 15rem;
    font-family: $bold;
    display: inline-block;
    text-align: center;
    border-radius: 0.2rem;
    cursor: pointer;
    &:hover,&:focus{
        outline: none;
        background: $clr-white;
        color: $clr-base;
    }
    &--disabled{
        background: $disabled;
        color: $clr-white;
        border-color: $disabled;
        cursor: not-allowed;
        pointer-events: none;
    }
    &--link{
        background: transparent;
        border: none;
        color: $clr-secondary;
        text-align: center;
        min-width: auto;
        font-size: 2rem;
        line-height: 2.2rem;
        text-decoration: underline;
        &.btn--disabled{
            color: $disabled;;
        }
        &:hover{
            color:$clr-base;
        }
    }
    &--white{
        background: rgba(255, 255, 255, 0.8);
        color: $clr-base;
        &:hover{
            background: $clr-white;
        }
    }
    &--icon{
        background: transparent;
        padding: 1rem;
        min-width: auto;
        color: $clr-base;
        border: none;
        .icon{
            font-size: 2.5rem;
        }
    }
    &--outline{
        outline: none;
        background: $clr-white;
        color: $clr-base;
        border-color:$clr-secondary;
        &:hover{
            border-color:$clr-base;
            background: $clr-base;
            color: $clr-white;
        }
    }
}

.actBtn{
    .actBtn__link{
        display: inline-block;
        float: left;
        .lbl{
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $clr-black;
            display: inline-block;
        }
        .btn{
            display: inline-block;
            &:last-child{
                margin: 0;
            }
        }
    }
    .btn:last-child{
        margin-left: 4rem;
    }
    &--col2{
        .btn{
            width: 48%;
            margin: 0 1%;
            &:last-child{
                margin: 0 1%;
            }
        }       
    }
}

.btnBack{
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: $bold;
    color: $clr-secondary;
    padding: 1rem 0;
    display: block;
    margin: 2rem 2rem 1rem 0;
    &:hover{
        color: $clr-base;
    }
    .icon{
        font-size: 1.6rem;
        margin-right: 1rem;
    }
}


@media only screen and (max-width:$media-lg) {
    .btn{
        min-width: 9.6rem;
        margin-right: 1.4rem;
        padding: 0.8rem 1.2rem;
        &:last-child{
            margin-right: 0;
        }
    }
    .actBtn {
        .actBtn__link{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            .btn{
                position: relative;
                min-width: auto;
            }
        }
        .btn{
            &:last-child{
                margin: 0;
            }
        }
        &--col2 {
            width: 100%;
            .btn{
                width: 100%;
                margin: 0.5rem 0;
            }
        }
    }
}