.formControl {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $clr-black;
    border: .1rem solid #cecece;
    padding: 1.2rem;
    width: 100%;
    border-radius: 0.4rem;
    &:focus {
        outline: none;
    }
}

.lbl {
    font-size: 1.8rem;
    line-height: 2rem;
    color: $clr-light;
    display: block;
    margin-bottom: 1rem;
}

.formGroup {
    margin-bottom: 3rem;
}

.error{
    display: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #bd2b2b;
    font-family: $pfencoresansprobook;
    margin-top: 0.6rem;
    width: 100%;
}

.formGroup,.inputGroup{
    &--error{
        .formControl{
            border: 1px solid #bd2b2b;
            background: #fbeeee;
            color: #bd2b2b;
        }
        .error{
            display: block;
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
    .inputGroupAppend {
        .btn{
            padding: 0;
            position: relative;
            top: 2rem;
        }
    }
}
.inputGroup {
    margin-bottom: 3rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    .lbl {
        width: 100%;
    }
    .formControl {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-right: 2rem;
    }
    .inputGroupAppend {
        display: flex;
        // margin-right: 5rem;
        min-width: 20rem;
        .input-group-text {
            position: relative;
            margin-top: 0.9rem;
        }

    }
    
    &--otp{
        .inputGroupAppend{
            margin-right: 0;
            .count{
                font-size: 1.8rem;
                line-height: 2rem;
                color: $clr-black;
            }
            .inputGroupText{
                .btn{
                    top: auto;
                    padding: 1.2rem 1.2rem 0 1.2rem;
                }
            }
        }
    }
    &__otpBox {
        width: 38rem;
        .formControl {
            text-align: center;
            width: 5rem;
            margin: 0 0.9rem 0 0;
        }
    }
    &__addon{
        width: 100%;
        position: relative;
        .formControl{
            width: 100%;
        }
        .btn{
            padding: 1.2rem 1.2rem;
            border: none;
            min-width: auto;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
            &:hover{
                background: transparent;
            }
            .icon{
                color: $clr-base;
                line-height: 2.3rem;
            }
        }
    }
    &--pass{
        .inputGroup__addon{
            position: relative;
            flex: 1 1 auto;
            width: 1%;
            margin-right: 2rem;
        }
    }
}


//checkbox

.checkbox{
    position: relative;
    &__input{
        opacity: 0;
    }
    input[type=checkbox ]:not(old) + label{
        font-size: 2rem;
        line-height: 2.2rem;
        padding-left: 3.8rem;
        margin-left: -1rem;
        color: $clr-black;
        &:after{
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.5rem;
            border: 0.1rem solid $clr-base;
            position: absolute;
            left: 0;
        }
    }
    input[type=checkbox]:not(old):checked + label{
        &:after{
            background-color: $clr-base;
        }
        &:before{
            content: "\e920";
            font-family: 'icomoon' !important;
            font-size: 1.6rem;
            position: absolute;
            top: 0.1rem;
            left: 0.4rem;
            z-index: 2;
            color: $clr-white;
        }
    }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
  }

@media only screen and (max-width:$media-lg) {
    .inputGroup{
        .formControl{
            flex: auto;
            width: 100%;
        }
        &--otp {
            padding-bottom: 3rem;
            
            .inputGroupAppend{
                position: absolute;
                bottom: 0;
                .inputGroupText{
                    .btn{
                        padding-left: 0;
                    }
                }
            }
        }
        &__otpBox {
            .formControl{
                margin: 0 0.4rem 0 0;
                font-size: 2.7rem;
                line-height: 3rem;
                padding: 0.8rem;
            }
        }
        &--error,&--pass{
            padding-bottom: 3rem;
            .inputGroupAppend{
                position: absolute;
                bottom: 0;
            }
        }
    }
    .formGroup, .inputGroup{
        .inputGroupAppend {
            .btn{
                position: unset;
                top: auto;
                margin-top: 1rem;
            }
        }
        &--error{
            .error{
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
    .formGroup {
        margin-bottom: 2.4rem;
    }
    .checkbox{
        position: relative;
        .checkbox__input{
            opacity: 0;
        }
        input[type=checkbox ]:not(old) + label{
            font-size: 2rem;
            line-height: 2.1rem;
            padding-left: 2.6rem;
            &:after{
                content: "";
                width: 1.8rem;
                height: 1.8rem;
            }
        }
        input[type=checkbox]:not(old):checked + label{
            &:after{
                background-color: $clr-base;
            }
            &:before{
                content: "\e920";
                font-size: 1.3rem;
                position: absolute;
                top: -0.1rem;
                left: 0.3rem;
            }
        }
    }
}