//loader
.loader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(/assets/images/loder.gif) no-repeat center #fffffff5;
    z-index: 100;
    transition: all 0.6s ease-in;
    &--hide{
        visibility: hidden;
        opacity: 0;
    }
}