//loginJourney
.loginJourney{
    display: block;
    &__head{
        margin-bottom: 3rem;
    }
    &__title{
        font-size: 4.4rem;
        line-height: 4.8rem;
        color: $clr-black;
        margin-bottom: 0.2rem;
    }
    &__lbl{
        font-size: 3.2rem;
        line-height: 3.6rem;
        color: $clr-black;
        margin-bottom: 1rem;
        font-family: $thin;
    }
    &__para{
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: $clr-black;
        margin-bottom: 1rem;
        font-family: $thin;
    }
}

@media only screen and (max-width:$media-lg) {
    .loginJourney{
        &__title{
            font-size: 3.2rem;
            line-height: 3.6rem;
        }
        &__lbl{
            font-size: 2rem;
            line-height: 2.2rem;
        }
        &__para{
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }
}