//modal
.modal{
    $self: &;
    &__dialog{
        padding: 4rem 2.4rem 2.4rem;
        border-radius: 0.4rem;
        position: fixed;
        right: 0;
        left: 0;
        top: 50%;
        z-index: 21;
        transition: all 0.3s ease-in;
        transform: translate(0, -250%);
        opacity: 0;
        max-width: 60rem;
        background: $clr-white;
        margin: 1.75rem auto;
    }
    &--typ-md{
        max-width: 90rem;
    }
    &--active{
        #{ $self }__dialog{
            opacity: 1;
            transform: translate(0, -50%);
        }
    }
    &__header{
        display: block;
        margin-bottom: 1rem;
    }
    &__title{
        font-size: 3.2rem;
        line-height: 3.6rem;
        color: $clr-black;
    }
    &__subtitle{
        font-size: 2rem;
        line-height: 2.2rem;
        font-family: $thin;
        color: $clr-black;
    }
    &__para{
        font-size: 2rem;
        line-height: 2.2rem;
        color: $clr-black;
        font-family: $thin;
        margin-bottom: 2rem;
    }
    .btn--icon{
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    &__highlight{
        background: #fdf7f7;
        margin: 0 -2.4rem;
        padding: 2rem;
        font-size: 1.7rem;
        line-height: 2rem;
        color: #6c7174;
        font-family: $light;
        margin-bottom: 4.2rem;
    }
    .actBtn{
        margin-top: 4rem;
        text-align: right;
    }
    &--whatsapp{
        margin-top: 2.3rem;
        .checkbox{
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: #6c7174;
            margin-bottom: 2.4rem;
            font-family: $pfencoresansprobook;
        }
        .note{
            background: transparent;
            margin: 0;
            padding: 0;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .modal{
        &__dialog{
            max-width: 100%;
            right: 1.4rem;
            left: 1.4rem;
            padding: 4rem 2rem 2rem;
            transform: translate(0, -300%);
        }
        &--typ-md{
            iframe{
                height: auto;
            }
        }
        &__title{
            font-size: 2.6rem;
            line-height: 3rem;
        }
        &__subtitle{
            font-size: 1.8rem;
            line-height: 2rem;
        }
        &__para{
            font-size: 1.8rem;
            line-height: 2rem;
        }
        &__highlight{
            margin: 0 -1.9rem;
        }
        .btn--icon{
            padding: 0.4rem;
            min-width: auto;
            .icon{
                font-size: 1.8rem;
            }
        }
        .actBtn{
            margin-top: 2rem;
        }
        .typ-whatsapp{
            p{
                font-size: 1.8rem;
                line-height: 2rem;
                font-family: $thin;
            }
            .note{
                .note__text{
                    display: block;
                }
            }
        }
    }
}