//tab
.tab{
    display: block;
    &__nav{
        display: block;
        margin: -1.2rem -2.4rem 2.4rem;
    }
    &__navBtn{
        width: 50%;
        display: inline-block;
        a{
            text-align: center;
            display: block;
            font-size: 2rem;
            line-height: 2.2rem;
            padding: 1rem;
            color: #cdcece;
            border-bottom: 1px solid #cdcece;
        }
        &.tab__navBtn--active,&:hover{
            a{
                color: $clr-base;
                border-bottom: 1px solid $clr-base;
            }
        }
    }
    &__content{
        display: block;
    }
    &__pane{
        display: none;
        &.tab__pane--active{
            display: block;
        }
    }
}