@font-face {
  font-family: 'icomoon';
  src:  url('../icon-fonts/icomoon.eot?7vbd7n');
  src:  url('../icon-fonts/icomoon.eot?7vbd7n#iefix') format('embedded-opentype'),
    url('../icon-fonts/icomoon.ttf?7vbd7n') format('truetype'),
    url('../icon-fonts/icomoon.woff?7vbd7n') format('woff'),
    url('../icon-fonts/icomoon.svg?7vbd7n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon:before,.icon:before{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e924";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-download-certificate:before {
  content: "\e901";
}
.icon-instructions:before {
  content: "\e902";
}
.icon-kebab-menu:before {
  content: "\e903";
}
.icon-notification:before {
  content: "\e904";
}
.icon-pay:before {
  content: "\e905";
}
.icon-policy-details:before {
  content: "\e906";
}
.icon-service-request:before {
  content: "\e907";
}
.icon-status-tracker:before {
  content: "\e908";
}
.icon-tc:before {
  content: "\e909";
}
.icon-time:before {
  content: "\e90a";
}
.icon-upgrade:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e90c";
}
.icon-arrow-left:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-arrow-up:before {
  content: "\e90f";
}
.icon-branch-locator:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-call:before {
  content: "\e912";
}
.icon-cancel:before {
  content: "\e913";
}
.icon-chat:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-chevron-left:before {
  content: "\e916";
}
.icon-chevron-right:before {
  content: "\e917";
}
.icon-chevron-up:before {
  content: "\e918";
}
.icon-download:before {
  content: "\e919";
}
.icon-faq:before {
  content: "\e91a";
}
.icon-info:before {
  content: "\e91b";
}
.icon-no-view:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-start-again:before {
  content: "\e91f";
}
.icon-tick:before {
  content: "\e920";
}
.icon-video:before {
  content: "\e921";
}
.icon-view:before {
  content: "\e922";
}
.icon-whats-app:before {
  content: "\e923";
}
