<div class="bs-header">
    <div class="bs-header__top hed-top">
        <div class="container"></div>
    </div>
    <div class="bs-header__primary hed-primary">
        <div class="container"></div>
    </div>
    <div class="bs-header__secondary hed-secondary">
        <div class="container"></div>
    </div>
    <div class="bs-header__band band">
        <div class="container"></div>
    </div>
</div>