.left-panel{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background: #e2e2e2;
    overflow-y: auto;
    padding: 49px 25px 12px 25px;
}
.left-panel .back{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background: #f8afaf;
}
.left-panel .back,
.left-panel .icon,
.left-panel .text{
    display: inline-block;
    vertical-align: middle;
}
.left-panel .icon{
    margin-right: 6px;
}
.left-panel h1{
    display: block;
    margin: 21px -11px;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    border: 2px dashed #c7222b;
    text-align: center;
}
.left-panel ul{
    padding-left: 10px;
    list-style: decimal;
    margin-right: -25px;
}
.left-panel ul li{
    list-style: decimal;
}
.left-panel ul li:hover{
    border-right: 5px solid #c7222b;
    background: #f8afaf;
}
.left-panel ul li a{
    display: block;
    padding: 6px;
}

.right-panel{
    position: fixed;
    left: 230px;
    top: 0;
    bottom: 0;
    right:0;
    overflow-y: auto;
}
.right-cont{
    position: relative;
    top: 10%;
}

.compListItem{
    margin-bottom: 30px;
    padding-bottom: 70px;
    border-bottom: 1px dashed #000;
}
.compListItem h2{
    font-size: 48px;
    line-height: 50px;
    display: block;
    margin-bottom: 10px;
}
.compListItem p{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
}

.maintitle{
    text-align: center;
    font-size: 50px;
    line-height: 52px;
    display: block;
    margin: 30px 0;
}