.logo {
    margin-left: 30px;
    margin-top: 30px;
    padding: 8px;
    width: 200px;
    background: red;
}
.title{
    font-size: 30px;
    line-height: 32px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 2%;
    border-right: 1px solid #ec5252;
    padding-right: 2%;
    vertical-align: middle;
}
.comp{
    background: #f0c7c7;
    padding: 7px 22px;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.siteContainer {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 40px;
}

.siteContainer h4 {
    color: #262262;
    font-size: 95%;
    font-weight: cm-bold;
    margin: 10px 0;
}

.siteContainer h4 a {
    color: #262262;
}

.siteContainer ul {
    background: url("/temp_assest/siteMapFldrStr.png") repeat-y scroll 0 0 transparent;
    margin-bottom: 15px;
}

.siteContainer ul li {
    background: url("/temp_assest/siteMapFldrStrLn.png") no-repeat scroll 0 14px transparent;
    color: #262262;
    font-size: 90%;
    font-weight: normal;
    list-style: none outside none;
    margin-left: -8px;
    min-height: 24px;
    padding-left: 34px;
    position: relative;
}

.lbl a {
    font-weight: cm-bold;
}

.siteContainer ul li a {
    color: #262262;
    display: inline-block;
    padding: 7px 0;
    font-size: 2rem;
}

.siteContainer ul li a.done {
    color: #009245;
}

.siteContainer ul li a:hover,
.siteContainer h4 a:hover {
    color: #f7941e;
}

li .icn {
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url("/temp_assest/fileLst.png") no-repeat 0 0;
    left: 2px;
    top: 11px;
}

li.opn .lbl .icn {
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url("/temp_assest/folderIcnSprit.png") no-repeat 0 -32px;
    left: 2px;
    top: 6px;
}

li.close .lbl .icn {
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url("/temp_assest/folderIcnSprit.png") no-repeat 0 0;
    left: 2px;
    top: 6px;
}
.siteContainer ul li.opn > .lbl{
    margin-bottom: 0;
}