//_lytLogin

.lytLogin{
    width: 100%;
    min-height: 65rem;
    position: relative;
    padding-left: 3rem;
    &__lhs{
        width: 60%;
        padding-right: 3%;
        float: left;
    }
    &__rhs{
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
    }
    &__actBtn{
        position: absolute;
        right: 2.4rem;
        left: 2.4rem;
        bottom: 2.4rem;
        text-align: right;
    }
}


@media only screen and (max-width:$media-lg) {
    .lytLogin{
        padding: 0 1.6rem 0 1.6rem;
        min-height: auto;
        &__lhs{
            width: 100%;
            float: none;
            padding: 0;
        }
        &__rhs{
            width: 100%;
            position: relative;
            height: 40rem;
            right: auto;
            background-position: 0 80%;
            margin-top: 2.4rem;
        }
        &__actBtn{
            position: relative;
            right: auto;
            left: auto;
            bottom: auto;
            margin-top: 5rem;
            text-align: center;
            padding-bottom: 50px;
            .btn--link{
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
                min-width: 15rem;
            }
        }
    }
}