.advertise{
    position: relative;
    min-height: 32rem;
    &--typGradient{
        &:before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            opacity: .7;
            z-index: 2;
            background-image: linear-gradient(to top, #000000 12%, rgba(0, 0, 0, 0) 88%);
        }
    }
    &__img{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        img{
            display: block;
        }
    }
    &__desc{
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        z-index: 3;
        color: $clr-white;
    }
    &__title{
        font-size: 4.4rem;
        line-height: 4.4rem;
        em{
            font-size: 4.8rem;
            line-height: 8rem;
            vertical-align: top;
            font-style: normal;
            font-family: $pfencoresanspromedium;
        }
    }
    &__big{
        font-size: 9rem;
        line-height: 9.2rem;
        display: block;
        font-family: $pfencoresansprobold;
    }
    &__subtitle{
        font-size: 3.2rem;
        line-height: 3.4rem;
        font-family: $thin;
        margin-bottom: 3rem;
    }
}
@media only screen and (max-width:$media-lg) {
    .advertise{
        overflow: hidden;
        margin: 0 0 4rem 0;
        min-height: 33.2rem;
        box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
        border: solid 1px #cdcece;
        &__desc{
            left: 1.2rem;
            bottom: 0;
            right: 1.2rem;
        }
        &__img{
            bottom: 14.4rem;
            background-position: center;
            img{
                float: right;
            }
        }
        &__mob{
            margin: 0 -1.6rem 0rem;
            padding: 1.8rem;
            background: #fff;
            color: #000;
            height: 14.4rem;
        }
        &__title{
            font-size: 3.2rem;
            line-height: 3.2rem;
            margin-bottom: 1.8rem;
            em{
                font-size: 2.8rem;
                line-height: 6rem;
            }
        }
        &__big{
            font-size: 6rem;
            line-height: 7.2rem;
            position: relative;
            top: 1rem;
        }
        &__subtitle{
            font-size: 2.2rem;
            line-height: 2.6rem;
            margin-bottom: 1.6rem;
            font-family: $light;
        }
    }
}