.breadcrumb{
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 2.4rem;
    &__item{
        display: inline-block;
    }
    &__link{
        color:$clr-light;
    }
    .icon{
        font-size: 1rem;
        font-weight: bold;
        margin: 0 1rem;
        color:$clr-base
    }
}