.covid{
    box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
    border: solid 1px #cdcece;
    padding: 2rem;
    position: relative;
    margin-bottom: 6rem;
    &__desc{
        padding-left: 4.6rem;
    }
    &__title{
        font-size: 2.4rem;
        line-height: 2.6rem;
        color: $clr-black;
    }
    &__subtitle{
        font-family: $thin;
        font-size: 2.4rem;
        line-height: 2.6rem;
        color: $clr-black;
    }
    &__actBtn{
        .btn{
            padding: 1rem 0;
            text-decoration: none;
        }

    }
    &__info{
        position: absolute;
        left: 2.4rem;
        top: 2.4rem;
        font-size: 2.4rem;
        color: $clr-secondary;
    }
    &__cancel{
        position: absolute;
        right: 1.4rem;
        top: 1.4rem;
        font-size: 2.1rem;
    }
}

@media only screen and (max-width:$media-lg) {
    .covid{
        margin-bottom: 4rem;
        padding: 1.1rem;
        &__info{
            font-size: 2rem;
            left: 1.4rem;
            top: 1.2rem;
        }
        &__desc{
            padding-left: 3.7rem;
        }
        &__title{
            font-size: 2rem;
            line-height: 2.2rem;
        }
        &__subtitle{
            font-size: 1.8rem;
            line-height: 2rem;
        }
        &__actBtn{
            .btn{
                font-size: 1.6rem;
                line-height: 2rem;
                margin: 0 2rem 0 0;
            }
        }
        &__cancel{
            font-size: 1.5rem;
            line-height: 1.7rem;
            top: 0rem;
            right: 0.5rem;
            &.btn{
                &.btn--icon {
                    .icon{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}