//floatingBtn
.floatingBtn{
    position: fixed;
    right: 7rem;
    bottom: 7rem;
    z-index: 21;
    opacity: 0.5;
    &__round{
        width: 6.4rem;
        height: 6.4rem;
        display: block;
        text-align: center;
        line-height: 6.6rem;
        font-size: 3rem;
        border-radius: 5rem;
        cursor: pointer;
        background: $clr-primary;
        color: $clr-white;  
        .icon{
            color: $clr-white;
            text-align: center;
            line-height: 6.8rem;
            font-size: 2.4rem;
        }

    }
    &__text{
        margin-right: 1rem;
        display: inline-block;
        vertical-align: middle;
        text-transform: capitalize;
    }
    &__list{
        text-align: right;
        width: 24rem;
        height: 0;
        opacity: 0;
        transition: all 1s ease;
        position: absolute;
        left: -17.6rem;
        bottom: 6.4rem;
        line-height: 2rem;
        overflow: hidden;
        .floatingBtn__round{
            display: inline-block;
            vertical-align: middle;
            .floatingBtn__close{
                transform: rotate(0deg);
                transition: all 0.3s ease;
            }
        }
    }
    &__link{
        display: block;
        vertical-align: middle;
        width: 100%;
        text-align: right;
    }
    &__item{
        margin-bottom: 1rem;
    }
    &.floatingBtn--active{
        opacity: 1;
        .floatingBtn__list{
            height: auto;
            opacity: 1;
        }
        .floatingBtn__round{
            background: $clr-white;
            color: $clr-primary; 
            .icon{
                color: $clr-primary;
            }
        }
        .floatingBtn__text{
            color: $clr-white; 
        }
    }
    &:hover{
        opacity: 1;
    }
}

@media only screen and (max-width:$media-lg) {
    .floatingBtn{
        right: 3rem;
        bottom: 4rem;
        
        &__text{
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
        &__round{
            .floatingBtn__close{
                font-size: 1.5rem;
                transform: rotate(45deg);
            }
        }
        &.floatingBtn--active {
            .floatingBtn__round{
                font-size: 2.1rem;
                // transform: rotate(45deg);
                .floatingBtn__close{
                    transform: rotate(0);
                    line-height: 6.6rem;
                    font-size: 2rem;
                }
            }
        }
    }
}