.icontext{
    display: inline-block;
    width: 13.8rem;
    vertical-align: top;
    
    text-align: center;
    
    &--highlight{
        .icontext__icon{
            background-color: #edc9c6;
        }
        
    }
    &__icon{
        width:8rem;
        height: 8rem;
        line-height: 8rem;
        text-align: center;
        font-size: 3rem;
        display: inline-block;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
        border-radius:50% ;
        margin-bottom: 1rem;
        color: $clr-base;
        background-color: $clr-light-grey;
    }
    &__text{
        display: inline-block;
        width: 13.8rem;
        text-align: center;
        font-size: 2rem;
        line-height: 2.2rem;
    }
}


@media only screen and (max-width:$media-lg) {
    .icontext{
        width: 8.8rem;
        &__icon{
            width: 5.6rem;
            height: 5.6rem;
            font-size: 2.5rem;
            line-height: 6rem;
        }
        &__text{
            font-size: 1.6rem;
            line-height: 1.8rem;
            width: 100%;
        }
    }
}