//lblText

.lblText{
    &__lbl{
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-light;
        display: block;
    }
    &__text{
        font-size: 2rem;
        line-height: 2.2rem;
        color: $clr-black;
    }
}

@media only screen and (max-width:$media-lg) {
    .lblText{
        &__lbl{
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        &__text{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
}