.notificationInfo{
    
    &__cont{
        padding: 2rem;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-black;
    }
    &__title{
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-bottom: 20px;
    }
    &__list{
        overflow-x: auto;
        height: 23rem;
        margin: 0 -2rem;
    }
    &__item{
        padding: 1rem 2rem;
        border-bottom: solid 1px $clr-light-grey;
        >a{
            display: block;
            &:hover{
                color: $clr-black;
            }
        }
        .notificationInfo__paynow{
            display: inline-block;
            &.btn{
                padding: 1rem 0 0 0;
                &:hover{
                    background: transparent;
                }
            }
        }
        &:hover{
            background: $clr-light-grey;
        }
    }
    &__cancel{
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 0.4rem;
        right: 0.4rem;
        position: absolute;
        &.btn{
            &.btn--icon{
                .icon{
                    line-height: 1.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
    &__paynow{
        text-decoration: underline;
        padding-left: 0;
    }
    &__viewall{
        display: block;
        background-color: #d2c7c6;
        border-color: #d2c7c6;
    }
}

@media only screen and (max-width:$media-lg) {
    .notificationInfo{
        &__list{
            height: auto;
            position: absolute;
            right: 1.6rem;
            left: 1.6rem;
            bottom: 5.4rem;
            top: 7rem;
        }
        &__item{
            padding: 1rem 2rem;
        }
        &__viewall{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        &__cancel{
            margin-right: 0;
        }
    }
}