.whtspAcc{
    padding: 2rem 0;
    background-color: rgba(237, 201, 198, 0.15);
    overflow: hidden;
    &__lhs{
        float: left;
        width: 40%;
        padding: 3.2rem 7.6rem 3.2rem 3rem;
    }
    &__rhs{
        float: left;
        width: 60%;
        padding: 3.2rem 3.2rem 3.2rem 10.6rem;
    }
    &__title{
        font-size: 4.4rem;
        line-height: 4.4rem;
        color: $clr-black;
    }
    &__subtitle{
        font-family: $thin;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-bottom: 1.8rem;
        color: $clr-black;
    }
    &__ctrl{
        padding:0 4.8rem;
        position: relative;
    }
    &__icon{
        font-size: 3.2rem;
        position: absolute;
        left: .8rem;
        top:.6rem;
        color:#03ae51
    }
    &__input{
        font-size: 1.8rem;
        line-height: 2rem;
        border-radius:0.4rem 0 0 0.4rem ;
    }
    &__btn{
        position: absolute;
        right: 0;
        font-size: 2.3rem;
        
        width: 4.8rem;
        &.btn--icon{
            background: $clr-primary;
            color:$clr-white;
            border-radius:0rem 0.4rem 0.4rem 0rem ;
            min-width: auto;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .whtspAcc{
        padding: 2rem 1.6rem;
        margin: 0 -1.6rem;
        &__lhs,&__rhs{
            width: 100%;
            float: none;
            padding: 1.6rem 1.6rem 0 0;
        }
        &__rhs{
            padding: 0 1.6rem 1.6rem 0;
        }
        &__title{
            font-size: 3rem;
            line-height: 3.2rem;
        }
        &__subtitle{
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 1.2rem;
        }
    }
}