//materialul-datepicker
.MuiFormControl-root{
    width: 100%;
    .MuiFormLabel-root{
        font-family: $regular;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-light;
        display: block;
        margin-bottom: 1rem;
        position: relative;
        transform: none;
        top: auto;
        left: auto;
        pointer-events: none;
        &.Mui-focused{
            color: $clr-light;
        }
        &.Mui-error{
            color: $clr-light;
        }
    }
    .MuiInput-formControl{
        margin-top: 0px;
        .MuiInputBase-input{
            font-size: 1.6rem;
            line-height: 2rem;
            color: $clr-black;
            border: .1rem solid #cecece;
            padding: 1.2rem;
            width: 100%;
            border-radius: 0.4rem;
            &:focus {
                outline: none;
            }
        }
    }
    .MuiInput-underline:after,.MuiInput-underline:before{
        content: none;
    }
    .MuiInput-root{
        &:after{
            content: "\e911";
            font-size: 2rem;
            font-family: 'icomoon' !important;
            position: absolute;
            right: 1.3rem;
            z-index: 2;
            left: auto;
            bottom: auto;
            transform: scaleX(1);
            border-bottom: none;
            color: $clr-base;
        }
        &.MuiInputBase-adornedEnd {
            border: .1rem solid #cecece;
            border-radius: 0.4rem;
            .MuiInputBase-input {
                border: none;
            }
        }
    }
    .MuiInputAdornment-root{
        .MuiButtonBase-root{
            padding: 2.1rem;
            width: 4.2rem;
            z-index: 3;
            position: relative;
        }
    }
}
.MuiTypography-subtitle1,
.MuiTypography-body1{
    font-size: 1.8rem !important;
}
.MuiPickersYear-yearSelected,
.MuiTypography-h5{
    font-size: 2.5rem !important;
}
.MuiButton-root,
.MuiTypography-caption,
.MuiTypography-body2{
    font-size: 1.6rem !important;
    line-height: 1.8rem !important;
}
.MuiSvgIcon-root{
    font-size: 2.3rem !important;
}
.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected{
    background-color: $clr-base !important;
}
.MuiPickersYear-yearSelected,
.MuiButton-textPrimary,
.MuiPickersMonth-monthSelected{
    color: $clr-base !important;
}
.formGroup--error{
    .MuiFormControl-root {
        .MuiInput-root{
            &.MuiInputBase-adornedEnd{
                border: 1px solid #bd2b2b;
                background: #fbeeee;
                .MuiInputBase-input{
                    color: #bd2b2b; 
                }
            }
        }
    }
}
