.js-planCard-swiper{
    padding-bottom: 5.4rem;
    .swiper-button-prev{
        left: 50%;
        top: auto;
        bottom: 0;
        transform: translateX(-3.9rem);
        font-size: 1.5rem;
        width: 2.4rem;
        background:$clr-primary;
        height: 2.4rem;
        color: $clr-white;
        &:after{
            content: "";
        }
    }
    .swiper-button-next{
        right: 50%;
        top: auto;
        bottom: 0;
        transform: translateX(3.9rem);
        font-size: 1.5rem;
        width: 2.4rem;
        background:$clr-primary;
        height: 2.4rem;
        color: $clr-white;
        &:after{
            content: "";
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .js-icontext-swiper{
        .swiper-slide{
            width: 10rem;
        }
    }
    .js-planCard-swiper{
        padding-bottom: 0;
        .swiper-slide{
            width: 95%;
        }
        .swiper-button-prev{
            display:none;
        }
        .swiper-button-next{
            display:none;
        }
    }
    .swiper-container{
        margin-left: -1.6rem;
        margin-right: -1.6rem;
    }
}